{% extends 'base.html' %}
{% block title %}Menu{% endblock title %}
{% block body %}
  <section class="menu-items">
    <h2>Our Menu</h2>
    <div class="menu-grid-container">
      <div class="menu-grid-item">
        <img src="static/img/caramel-macchiato.jpg" alt="Coffee 1">
        <h3>Caramel Macchiato</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <span class="price">Rs.142</span>
      </div>
      <div class="menu-grid-item">
        <img src="static/img/Americano.jpg" alt="Coffee 2">
        <h3>Americano</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <span class="price">Rs.215</span>
      </div>
      <div class="menu-grid-item">
        <img src="static/img/Ethiopian-Coffee.jpg" alt="Coffee 3">
        <h3>Ethiopian</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <span class="price">Rs.186</span>
      </div>
      <div class="menu-grid-item">
        <img src="static/img/cafe-frappe-7.jpg" alt="Coffee 4">
        <h3>Cafe Frappe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <span class="price">Rs.173</span>
      </div>
      <div class="menu-grid-item">
        <img src="static/img/caramel-cold-coffee.jpg" alt="Coffee 5">
        <h3>Caramel Cold Coffee.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <span class="price">Rs.230</span>
      </div>
      <div class="menu-grid-item">
        <img src="static/img/dark-frappe.jpg" alt="Coffee 6">
        <h3>Dark Frappe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <span class="price">Rs.221</span>
      </div>
    </div>
  </section>
{% endblock body %}